<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required autofocus>



    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>



    <button type="submit">Login</button>
</form>
</body>
</html>